:root {
  --primary: #1e40af; /**/
  --secondary: #334155; /*for text*/
  --accent: #f59e0b; /*accent color*/
  --background: #f8fafc;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 12px 16px;
    background: var(--background);
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

.header {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.search {
    width: 280px;
    padding: 8px 12px;

    border: 1px solid #ccc;
    border-radius: 8px;

    outline: none;
    font-size: 14px;
}

.search:focus {
    background-color: lightskyblue;
}

.add-btn {
    width: 42px;
    height: 42px;

    border-radius: 50%;
    border: none;

    font-size: 24px;
    font-weight: bold;

    background: var(--accent);
    color: var(--background);

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.2s ease;
}

.add-btn:hover {
    background: lightblue;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    
    .header {
        gap: 10px;
    }

    .add-btn{
        width: 46px;
        height: 46px;
        font-size: 26px;
    }
}